<span class="table-of-contents-list">springboot 개념정리</span>
<ul class="table-of-contents-list">
    <li><a href="./springboot-base-1">springboot 1.스프링 이란?</a></li>
    <li><a href="./springboot-base-2">springboot 2.JPA 란?</a></li>
    <li><a href="./springboot-base-3">springboot 3.동작원리</a></li>
    <li><a href="./springboot-base-4">springboot 4.Git 세팅</a></li>
    <li><a href="./springboot-base-5">springboot 5.HTTP1.1 체험하기</a></li>
    <li><a href="./springboot-base-6">springboot 6.yaml 설정</a></li>
    <li><a href="./springboot-base-7">springboot 7.Lombok 세팅</a></li>
    <li><a href="./springboot-base-8">springboot 8.테이블 생성하기</a></li>

</ul>